<mdb-carousel
  [controls]="true"
  [indicators]="true"
  [animation]="'fade'"
  class="carousel-fade"
>

  @for (room of rooms; track room.title) {

    <mdb-carousel-item>

      <img
        [src]="room.imageUrl"
        class="d-block w-100"
        [alt]="room.title"
        style="height: 500px; object-fit: cover;"
      />

      <div class="carousel-caption d-none d-md-block">
        <h3 class="fw-bold">{{ room.title }}</h3>
        <p>{{ room.description }}</p>
      </div>

    </mdb-carousel-item>

  }

</mdb-carousel>
